{% extends "front/base.html" %}

{% load widget_tweaks %}

{% block title %}Atualização de Consultas{% endblock %}

{% block conteudo %}
<div class="container pt-5" style="margin-right: 25em;">
    <div>
        <h3 class="text-center pb-4">Atualização de Consultas</h3>
        <form method="post">
            {% csrf_token %}

            <div class="input-group mb-3">
                <span class="input-group-text">Título</span>
                {% render_field form.title class+="form-control" %}
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Doutor</span>
                {% render_field form.doctor class+="form-control" %}
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Começo</span>
                {% render_field form.start class+="form-control" %}
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Fim</span>
                {% render_field form.end class+="form-control" %}
            </div>

            <div class="pt-2" style="margin-left: 37.5em">
                <button class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}