<!-- Estendemos do template base -->
{% extends "front/base.html" %}

{% load widget_tweaks %}

<!-- Bloco que define o <title></title> da nossa página -->
{% block title %}Pacientes{% endblock %}

<!-- Bloco de conteúdo da nossa página --> 
{% block conteudo %}
<div class="container pt-5" style="margin-right: 25em;">
    <div>
        <h2 class="text-center">Pacientes</h2>
        {% if messages %}
            {% for message in messages %}
                <div class=" text-center alert-dismissible fade show alert alert-{{ message.tags }}" style="margin-top: 1em;">
                    {{ message|safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
        <a class="btn btn-primary mt-2" href="{% url 'create_patient' %}" style="float: right">Cadastrar Paciente</a>
    </div>

    {% if patients %}
        <table class="table table-striped" style="margin-top: 5em">
            <thead>
                <tr>
                    <th>#</th>
                    <th class="text-center">Nome</th>
                    <th class="text-center">Data de nascimento</th>
                    <th class="text-center">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for patient in patients %}
                <tr>
                    <td><strong>{{ patient.pk }}</strong></td>
                    <td class="text-center">{{ patient.name }}</td>
                    <td class="text-center">{{ patient.birth_date }}</td>
                    <td class="text-center">
                        <a class="btn btn-outline-primary" href="{% url 'update_patient' pk=patient.pk %}">Atualizar</a>
                        <a class="btn btn-outline-danger" href="{% url 'delete_patient' pk=patient.pk %}">Excluir</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="text-center pt-5" style="margin-top: 2em;">Sem pacientes cadastrados :(</p>
    {% endif %}
</div>
{% endblock %}