{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Clinic{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  
    {% block styles %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary p-1" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand ps-5 fs-3" href="/">Clinic</a>
          <p class="navbar-brand ps-5" style="padding-top: 1em; padding-right: 1em;">Olá, Usuário</p>
        </div>
      </nav>

    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto px-4" style="background-color: rgb(58, 65, 71);">
                <div class="d-flex flex-column align-items-sm-start pe-5 pt-5 text-white vh-100" style="gap: 2em">
                    <a class="navbar-brand ps-4 fs-5" href="/">Consultas</a>
                    <a class="navbar-brand ps-4 fs-5" href="{% url 'patients' %}">Pacientes</a>
                    <a class="navbar-brand ps-4 fs-5" href="{% url 'doctors' %}">Doutores</a>
                    <a class="navbar-brand ps-4 fs-5" href="{% url 'stock' %}">Estoque</a>
                </div>
            </div>
            <div data-aos="fade-in" data-aos-duration="1000">
              <!-- Conteúdo do site -->
              {% block conteudo %}{% endblock %}
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>